{% extends 'main/layout.html' %}

{% block title %}
  Удаление отзыва
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="card shadow-lg border-danger">
        <div class="card-body text-center">
            <h2 class="text-danger mb-4">Подтверждение удаления</h2>
            <p class="mb-3">Вы уверены, что хотите удалить этот отзыв?</p>

            <form method="post" enctype="multipart/form-data" class="d-inline">
                {% csrf_token %}
                <div class="d-flex justify-content-center gap-3">
                <button type="submit" class="btn btn-danger me-2"
                    <i class="bi bi-trash"></i> Удалить
                </button>
                <a href="{% url 'reviews_home' %}" class="btn btn-secondary">
                    Отмена
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
